.container-body {
    display  : flex;
    max-width: 100%;
    margin   : 0;
    padding  : 0;
    height   : 100vh;

    .content-left {
        width: 18%;
    }

    .content-right {

        width           : 82%;
        background-color: #F7F7F7;
        margin          : 0 10px;
        border          : 1px solid rgb(216, 216, 216);


        .manage-motel {
            width      : 100%;
            height     : 25%;
            border     : 1px solid rgb(206, 206, 206);
            // overflow: scroll;

            .container {

                .row {
                    padding-top: 20px;

                    .btn-search {
                        margin: 10px 0 0 10px;

                        button {
                            outline         : none;
                            border          : none;
                            border-radius   : 3px;
                            min-width       : 50px;
                            min-height      : 30px;
                            color           : #FFFFFF;
                            font-size       : 12px;
                            background-color: blue;
                            min-width       : 80px;

                            i {
                                margin-right: 5px;
                            }

                            &:hover {
                                opacity: 0.8;
                            }

                        }
                    }
                }
            }

        }

        .detail-infor-motel {
            background-color: #FFFFFF;
            border          : 1px solid rgb(199, 199, 199);
            margin          : 10px;

            .control-motel {
                display        : flex;
                flex-direction : row;
                justify-content: space-between;
                align-items    : center;
                height         : 60px;
                border-bottom  : 1px solid rgb(209, 208, 208);

                .infor-motel {


                    .item-detail {
                        padding     : 0 10px;
                        border-right: 1px solid grey;
                    }

                    .empty {}

                    .rented {}

                    .no-charge {
                        border: none;
                    }
                }

                .function-control {
                    margin-right: 20px;

                    .btn-add {
                        outline         : none;
                        border          : none;
                        border-radius   : 3px;
                        min-width       : 50px;
                        min-height      : 30px;
                        color           : #FFFFFF;
                        font-size       : 12px;
                        background-color: #26B99A;
                        min-width       : 80px;

                        &:hover {
                            opacity: 0.8;
                        }

                        i {
                            margin-right: 3px;
                        }
                    }
                }
            }

            .list-room {
                padding  : 10px;
                display  : flex;
                flex-wrap: wrap;
            }
        }

        .footer {
            background-color   : #F7F7F7;
            padding            : 10px 0;
            text-align         : center;
            // border-top      : 1px solid #e7e7e7;

            .footer-container {
                max-width: 1200px;
            }

            .footer-section {
                margin-bottom: 10px;

                h5 {
                    margin-bottom: 10px;
                }



                p,
                a {
                    margin         : 0 5px;
                    color          : #333;
                    text-decoration: none;


                    &:hover {
                        text-decoration: underline;
                    }
                }

            }

            .footer-section-last {
                .contact {
                    display       : flex;
                    flex-direction: row;

                    a {
                        display          : flex;
                        flex-direction   : row;
                        align-items      : center;
                        // margin        : 0;
                    }
                }
            }

            .footer-content {
                display        : flex;
                justify-content: space-around;
                flex-wrap      : wrap;
            }

            .fab {
                width    : 24px;
                font-size: 20px;
            }

            .footer-copyright {
                margin-top: 10px;
                font-size : 14px;
                color     : #777;
            }
        }
    }


}

.modal-header {
    padding         : 6px 10px;
    background-color: #0866FF;

    .modal-title {
        color: #FFFFFF;
    }

    .close {
        background-color: transparent !important;
        border          : none;
        color           : #FFFFFF;
        font-size       : 20px;
    }

}

.modal-user-container {
    .modal-user-body {
        display  : flex;
        gap      : 10px;
        flex-wrap: wrap;

        .input-container {
            display       : flex;
            flex-direction: column;
            width         : 49%;

            input {
                padding      : 0 5px;
                outline      : none;
                border-radius: 2px;
                border       : 1px solid grey;
                height       : 30px;
            }

            &.max-width-container {
                width: 100%;
            }
        }
    }
}