.home-container {

    .home-container {
        display          : flex;
        // flex-direction: column;




        .chart {
            // height: 200px;
            // width : 200px;
            border   : 1px solid red;
            // margin: 20px;
            height   : 300px;
            width    : 300px;
        }



        .revenue {}

        .chart1 {}

        .chart2 {}




    }
}