.container-navbar {
    display         : flex;
    max-width       : 100%;
    flex-direction  : column;
    border          : 1px solid green;
    height          : 100%;
    background-color: #2A3F54;


    .header {
        align-items   : center;
        display       : flex;
        flex-direction: column;

        span {
            color      : #FFFFFF !important;
            font-weight: 500;
        }

        .title {
            padding: 5px 0;
        }

        .discription {
            padding  : 5px 0 10px;
            color    : #c0baba !important;
            font-size: 13px;
        }

        .name {
            padding  : 5px 0;
            color    : #c0baba !important;
            font-size: 12px;

        }
    }

    .control {
        .list-control {
            list-style: none;

            padding: 30px 0 0 0;

            .option {
                padding: 10px 0 10px 15px;
                color  : #c0baba;
                cursor : pointer;
                display: block;

                @keyframes changeBackground {
                    to {
                        background-color: rgba(168, 168, 168, 0.5);
                    }
                }

                &:hover {
                    animation: changeBackground 0.2s forwards;
                }

                i {
                    margin-right: 5px;
                }

                span {}
            }
        }
    }

}